* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}





#header {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#header ul {
    display: flex;
    list-style: none;
}

#header ul li a {
    /* border: 1px dashed green; */
    text-decoration: none;
    color: #000;
    display: block;
    line-height: 2;
    padding: 0.5em 2em;
}

#header ul li a:hover {
    color: #4181F7;
}









main {
    height: 78vh;
    /* border: 5px solid goldenrod; */
}


main div {
    /* border: 2px dashed red; */
    min-height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main div .filterAndClear {
    width: 20%;
    /* border: 3px dotted red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

main div .filterAndClear button {
    cursor: pointer;
    border-style: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #ddd;
    transition: all ease-in-out .3s;
}

main div .filterAndClear button:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}









form {
    width: 80%;
    /* border: 2px dashed blue; */
    display: flex;
    justify-content: center;
    padding: 1em 0;
    gap: 0.5em;
}

form input {
    padding: 0.5em;
    width: 20em;
    outline: none;
    transition: all ease-in-out .3s;
}

.newTaskAddedOrModified {
    border: 2px solid rgb(124, 193, 21);
}


form button {
    cursor: pointer;
    border-style: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #ddd;
    transition: all ease-in-out .3s;
}


form button:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}









main .emptyList {
    /* border: 2px solid red; */
    height: 87%;
    max-width: 80%;
    margin: 0 auto;
    list-style: none;
    padding: 1em;
    background-image: url(./images/empty-box.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
}

main .listContainer {
    height: 90%;
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: self-start;
    grid-auto-rows: 50px;
    gap: 1em;
    list-style: none;
    padding: 1em;
    overflow-y: auto;
    /* border: 5px solid red; */
}

main .listContainer li {
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    transition: transform ease-in-out .3s;
    cursor: pointer;
    min-height: 50px;
    background-color: #fff;
}

main .listContainer li:hover {
    transform: scale(1.02);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* style applied when task is completed  */
.completed { 
    text-decoration: line-through;
    color: #bbb;
}

main .listContainer li input[type="checkbox"] {
    background-color: red;
    cursor: pointer;
}

main .listContainer p {
    width: 50%;
    margin: 0 1em;
    /* border: 1px solid red; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

main .listContainer li div{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 0.5em;
}

main .listContainer li div button {
    padding: 0.3em;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    border-style: none;
    background-color: #bbb;
    cursor: pointer;
    transition: all ease-in .3s;
}

main .listContainer li div button img{
    width: 100%;
    pointer-events: none;
    /* border: 1px solid red; */

}

main .listContainer li div button:active {
    background-color: red;
}


main .listContainer li div button:hover {
    transform: scale(1.1);
}

/* applied to update button when the task has been completed  */
.btnDisabled { 
    background-color: rgb(221, 221, 221);
}

main .listContainer .updateActive {
    border: 1px solid #4181F7;
}









/* Filtering items when completed  */


/* when user filters only "completed", we'll hide the pending items, and vicesversa   */
main .listContainer li .filter--hide {
    display: none;
}









/* ---- footer ---- */

footer {
    width: 100%;
    height: 12vh;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    gap: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
